recursive-include cviewer *.png *.jpg *.ico *.gii *.ini *.so *.dll *.html *.csv *.c *.pyx *.py
include *.txt
include COPYRIGHT
include README.rst
include build_helpers.py

graft doc
graft examples
graft external

prune doc/manual
prune doc/manual/build
prune doc/build
prune libs-queue/
