Source: connectomeviewer
Section: python
Priority: extra
Maintainer: Stephan Gerhard <debian@unidesign.ch>
Build-Depends: debhelper (>= 7.2.18), python-all (>= 2.6), python-support,
			   python-numpy (>= 1.3.0), python-setuptools
Standards-Version: 3.9.2
Homepage: http://www.connectomeviewer.org
Vcs-Git: git://github.com/LTS5/connectomeviewer.git
Vcs-Browser: http://github.com/LTS5/connectomeviewer

Package: connectomeviewer
Architecture: all
Depends: ${python:Depends}, ${misc:Depends},
        python-cfflib (>= 2.0.5),
        python-networkx (>= 1.4),
        python-nibabel,
        python-numpy (>= 1.3.0),
        python-scipy,
        python-chaco,
        mayavi2 (>= 4.0.0),
        ipython
Recommends: python-nipype,
        python-dipy,
        python-matplotlib,
        python-qscintilla2,
Suggests: nipy-suite
Description: Interactive Analysis and Visualization for MR Connectomics
 The Connectome Viewer is a extensible, scriptable, pythonic research
 environment for visualization and (network) analysis in neuroimaging
 and connectomics.
 .
 Employing the Connectome File Format, diverse data types such as
 networks, surfaces, volumes, tracks and metadata are handled and
 integrated. The Connectome Viewer is part of the MR Connectome Toolkit.
